body {
  background-color: #FFFFFF; 
  color: #666666;
  font: verdana;
}
header{
    background-color: #003058;
    color: #FFFFFF;
    font: Georgia;
}
header h1{
    line-height: 140%;
    padding: .5rem;
}
nav{
    font-weight: bold;
    font: Georgia;
}
h2{
    color: #003058;
     font-weight: bold;
}
dt{
    color:#003058;
    font-weight: bold;
}
.ut{
    color: #BA1C21;
    font-weight: bold;
}
footer{
    font-size: .70rem;
    font: italic;
    text-align: center;
}
#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}