body {
  background-color: #FFFFFF; 
  color: #666666;
  font: verdana;
  background-attachment: fixed;
  background-image:  linear-gradient(#ffffff, #eeeeee);
}
header{
    background-color: #003058;
    color: #FFFFFF;
    font: Georgia;
    grid-row: 1 / 2; 
    grid-column: 2 / 8; 
}
header h1{
    line-height: 140%;
    padding: .5rem;
    background:   url(utahtechlogo.svg) no-repeat;
    background-position: right; 
    background-repeat: no-repeat; 
    padding-left:1em;
    background-origin: content-box;
    padding-left: 1em;
    background-origin: content-box;
    margin:0;

}
header a{
    color:#FFFFFF;
    text-decoration: none;
}
nav{
    font-weight: bold;
    font: Georgia;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    grid-row: 2 / 3; 
    grid-column: 2 / 8;
}
h2{
    color: #003058;
     font-weight: bold;
}
dt{
    color:#003058;
    font-weight: bold;
}
.ut{
    color: #BA1C21;
    font-weight: bold;
}
footer{
    font-size: .70rem;
    font: italic;
    text-align: center;
    padding: 1rem;
    grid-row: 5 / 6; 
    grid-column: 2 / 8;
}
#wrapper{
    display:grid;
    grid-auto-rows: minmax(0px auto);
    grid-template-columns: minmax(0px, 1fr) 
    repeat(6, minmax(0, 175px)) minmax(0px, 1fr);

}
h3{
    color:#003058;
}
main{
    padding: 0rem 2rem 0rem 2rem;
    grid-row: 4 / 5; 
    grid-column: 2 / 8;
}
main img{
    float: right;
    padding-left: 2rem;
}
#homehero{
    height: 300px;
    background-image: url(homehero.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4; 
    grid-column: 2 / 8;
}
#studenthero{
    height: 300px;
    background-image: url(homehero.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4; 
    grid-column: 2 / 8;
}
#facultyhero{
    height: 300px;
    background-image: url(homehero.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 3 / 4; 
    grid-column: 2 / 8;
}
nav a { text-decoration: none; }
 * { box-sizing: border-box; }
body {
    margin: 0px;
}